{% extends 'base.html' %}
{% block title %}Обратная связь{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="text-center">Форма обратной связи</h1>
    <div class="form-group col-sm-5 mx-auto mb-2">
      {% if messages %}
        {% for message in messages %}
          <h4{% if message.tags %}
            class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% with form=feedback_auther %}
          {% include 'feedback/includes/form.html' %}
        {% endwith %}
        {% with form=feedback_form %}
          {% include 'feedback/includes/form.html' %}
        {% endwith %}
        {% with form=files_form %}
          {% include 'feedback/includes/form.html' %}
        {% endwith %}
        <button class="btn btn-outline-primary btn-lg d-grid gap-2 mx-auto"
                type="submit">Отправить</button>
      </form>
    </div>
  </div>
{% endblock %}
