{% load static %}
<header class="py-3 px-5 h-100">
  <ul class="nav d-flex justify-content-between col-lg-6 col-12 mx-auto">
    <li class="navbar-item">
      <a href="{% url 'info:index_page' %}">
        <img src="{% static 'img/logo_mini.svg' %}"
             alt="no logo"
             width=""
             height=""/>
      </a>
    </li>
    <li class="nav-item dropdown">
      <button class="btn btn-info dropdown-toggle sea-bg"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">Меню</button>
      <ul class="dropdown-menu dropdown-menu-end pink-bg">
        <li>
          <a class="dropdown-item" href="{% url 'info:about_page' %}">О проекте</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'users:leaderboard' %}">Таблица лидеров</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'game:single' %}">Одиночная игра</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'feedback:feedback' %}">Обратная связь</a>
        </li>
        {% if request.user.is_authenticated %}
          <li>
            <a class="dropdown-item" href="{% url 'session:create' %}">Создать сессию</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'session:connect' %}">Подключиться к сессии</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
          </li>
        {% else %}
          <li>
            <a class="dropdown-item" href="{% url 'users:login' %}">Войти</a>
          </li>
        {% endif %}
      </ul>
    </li>
  </ul>
</header>
