{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
  <div class="container col-12 col-lg-6 col-md-8 pt-3 sea-bg">
    <div class="card pink-bg mt-3">
      <div class="card-body">
        <h5 class="card-title">Проект специально для Академии Яндекс!</h5>
        <p class="card-text">
          Всё, что от тебя требуется - находчивость и фантазия! В течение
          отведённого времени выбери правильный ответ и угадай, что будет дальше.
          Соревнуйся со своими друзьями в сессии или набирай рейтинг в одиночной игре!
        </p>
        <a href="{% url 'info:index_page' %}" class="btn fst-ans">На главную</a>
      </div>
    </div>
  </div>
{% endblock %}
