{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container col-12 col-lg-6 col-md-8 pt-3 sea-bg">
    <div class="card">
      <img src="{% static 'img/mqdefault.jpg' %}"
           class="card-img-top"
           alt="..."
           width=""
           height=""/>
      <div class="card-body lgrey-bg">
        <h5 class="card-title"></h5>
        <h2 class="card-text mono">Сможешь угадать, что будет дальше?</h2>
        <div class="d-flex ans-box justify-content-around">
          <button href="" class="btn btn-ans fst-ans">Ничего не случится</button>
          <button href="" class="btn btn-ans scd-ans">Появится дракон</button>
          <button type="button"
                  class="btn btn-ans trd-ans"
                  data-bs-toggle="modal"
                  data-bs-target="#signupModal">Дом исчезнет</button>
          <button href="" class="btn btn-ans fth-ans">Тык</button>
          <div class="modal fade"
               id="signupModal"
               tabindex="-1"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content sea-bg">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Верно!</h1>
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">Ты прав!</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {% if not user.is_authenticated %}
                      Нет, спасибо
                    {% else %}
                      Хорошо
                    {% endif %}
                  </button>
                  <button type="button" class="btn fth-ans">
                    {% if not user.is_authenticated %}
                      <a class="nav-link" href="{% url 'users:login' %}">Зарегистрироваться!</a>
                    {% else %}
                      <a class="nav-link" href="{% url 'game:single' %}">В игру!</a>
                    {% endif %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if not user.is_authenticated %}
          <div class="card pink-bg mt-3">
            <div class="card-body py-3">
              <h2 class="card-title">Заинтересовало?</h2>
              <a href="{% url 'users:sign_up' %}" class="btn btn-primary">Зарегистрироваться!</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
