{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container col-6 pt-3">
    <div class="card">
      <img src="{% static 'img/mqdefault.jpg' %}"
           class="card-img-top"
           alt="..."
           width=""
           height=""/>
      <div class="card-body lgrey-bg">
        <h5 class="card-title"></h5>
        <h2 class="card-text mono">Сможешь угадать, что будет дальше?</h2>
        <div class="d-flex ans-box justify-content-around">
          <button href="" class="btn btn-ans fst-ans">Ничего не случится</button>
          <button href="" class="btn btn-ans scd-ans">Появится дракон</button>
          <button type="button"
                  class="btn btn-ans trd-ans"
                  data-bs-toggle="modal"
                  data-bs-target="#signupModal">Дом исчезнет</button>
          <button href="" class="btn btn-ans fth-ans">Тык</button>
          <div class="modal fade"
               id="signupModal"
               tabindex="-1"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content sea-bg">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Верно!</h1>
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">Вам стоит зарегистрироваться!</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет, спасибо</button>
                  <button type="button" class="btn fth-ans">
                    <a class="nav-link" href="{% url 'info:about_page' %}">Давай!</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
