{% extends 'base.html' %}
{% load static %}
{% block title %}Вопрос № {{ question.id }}{% endblock %}
{% block content %}
  <div class="container col-12 col-lg-6 col-md-8 pt-3 sea-bg">
    <div class="card p-3 lgrey-bg">
      <video id="question-video" width="" height="500px" src="" controls muted>
        Your browser does not support the video tag.
      </video>
      <div id="card-body-id" class="card-body lgrey-bg">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="card-text mono">{{ form.choices.label }}</h2>
          <div class="d-flex ans-box justify-content-around">
            {% for choice in form.choices %}
              <button class="btn btn-ans trd-ans">{{ choice }}</button>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  {{ question.id|json_script:"question-id" }}
  {{ ANSWER_BUFFER_SECONDS|json_script:"answer-time" }}
{% endblock content %}
{% block scripts %}
  <script src="{% static 'js/game/question.js' %}"></script>
{% endblock %}
