{% extends "base.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="card pink-bg mt-3">
      <div class="card-body">
        <h5 class="card-title">Одиночная игра</h5>
        <p class="card-text">
          В течение отведённого времени выбери правильный ответ и угадай, что будет дальше.
        </p>
        {% if request.user.is_authenticated %}
        <p class="card-text">
          Ваш текущий счет: {{ request.user.score }}
        </p>
        {% endif %}
        <a href="{% url 'game:question' %}" class="btn fst-ans">Поиск вопроса</a>
      </div>
    </div>
  </div>
{% endblock content %}
